{% extends 'base.html' %}


{% load static %}
        
        
{% block content %}




<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order List </h2>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
            </div>
        </header>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Total</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date</th>
                            <th scope="col" class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td><b>{{ order.user.username }}</b></td>
                            <td><b>{{ order.user.email }}</b></td>
                            <td>{{ order.total_amount }}</td>
                            <td>
                                <span class="badge rounded-pill {% if order.status == 'Cancelled' %}alert-danger{% endif %}
                                                                {% if order.status == 'Confirmed' %}alert-warning{% endif %}
                                                                {% if order.status == 'Shipped' %}alert-primary{% endif %}
                                                                {% if order.status == 'Delivered' %}alert-success{% endif %}
                                                                {% if order.status == 'Returned' %}alert-warning{% endif %}">
                                    {{ order.status }}
                                </span>
                            </td>
                            <td>{{ order.created_at }}</td>
                            <td class="text-end">
                                <a href="{% url 'order_detail' order_id=order.id %}" class="btn btn-md rounded font-sm">Detail</a>
                                <div class="dropdown">
                                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">View detail</a>
                                        <a class="dropdown-item" href="#">Edit info</a>
                                        <a class="dropdown-item text-danger" href="#">Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>                
            </div> <!-- table-responsive //end -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
</section>

{% endblock %}