{% extends 'base.html' %}


{% load static %}
        
        
{% block content %}




    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order detail</h2>
                <p>Order id : {{ order.id }}</p>
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                        <span>
                            <i class="material-icons md-calendar_today"></i> <b>Order time : {{ order.created_at }}</b>
                        </span> <br>
                        <small class="text-muted">Order id : {{ order.id }}</small>
                    </div>
                    {% if order.status != 'cancelled' and order.status != 'Returned' %}
                        <form method="post" action="{% url 'update_status' order.id %}">
                            {% csrf_token %}
                            <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                                <select name="status" class="form-select d-inline-block mb-lg-0 mb-15 mw-200">
                                    <option>Change status</option>
                                    <option value="Cancelled">Cancelled</option>
                                    <option value="Confirmed">Confirmed</option>
                                    <option value="Shipped">Shipped</option>
                                    <option value="Delivered">Delivered</option>
                                    <option value="Returned">Returned</option>
                                </select>
                                <button type="submit" class="btn btn-primary">Save</button>
                                <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a>
                            </div>
                        </form>
                    {% endif %}                                          
                </div>
            </header>
            <div class="card-body">
                <div class="row mb-50 mt-20 order-info-wrap">
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-person"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Customer</h6>
                                <p class="mb-1">
                                    {{ order.user.username }} <br> {{ order.user.email }} <br> {{ order.phone_number }}
                                </p>
                                <a href="#">View profile</a>
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-local_shipping"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Order info</h6>
                                <p class="mb-1">
                                    Shipping: Fargo express <br> Payment: {{ order.payment_option }}<br> Status: {{ order.status }}
                                </p>
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-place"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Deliver to</h6>
                                <p class="mb-1">
                                    {{ address.city }} <br>{{ order.address }} <br>
                                </p>
                                <a href="#">View profile</a>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="40%">Product</th>
                                        <th width="20%">Unit Price</th>
                                        <th width="20%">Coupon Discount</th>
                                        <th width="20%">Coupon Info</th>
                                        <th width="20%">Quantity</th>
                                        <th width="20%" class="text-end">Total</th>
                                        <th width="20%">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order_item in order_items %}
                                        <tr>
                                            <td>
                                                <a class="itemside" href="#">
                                                    <div class="left">
                                                        {% if order_item.product.images.all %}
                                                            <img width="40" height="40" class="img-xs" src="{{ order_item.product.images.first.image.url }}" alt="Item">
                                                        {% else %}
                                                            <img width="40" height="40" class="img-xs" alt="Item">
                                                        {% endif %}
                                                    </div>
                                                    <div class="info"> {{ order_item.product.name }} </div>
                                                </a>
                                            </td>
                                            <td> {{ order_item.product.price }} </td>
                                            <td> {{ order.discount }} </td>
                                            <td> {{ order.coupon_info }} </td>
                                            <td> {{ order_item.quantity }} </td>
                                            <td class="text-end"> {{ order_item.subtotal }} </td>
                                            <td class="text-end"> {{ order_item.status }} </td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="7">
                                            <article class="float-end">
                                                <dl class="dlist">
                                                    <dt>Subtotal:</dt>
                                                    <dd>{{ order.total_amount }}</dd>
                                                </dl>
                                                <dl class="dlist">
                                                    <dt>Shipping cost:</dt>
                                                    <dd></dd>
                                                </dl>
                                                <dl class="dlist">
                                                    <dt>Grand total:</dt>
                                                    <dd> <b class="h5">{{ order.total_amount }}</b> </dd>
                                                </dl>
                                                <dl class="dlist">
                                                    <dt class="text-muted">Status:</dt>
                                                    <dd>
                                                        <span class="badge rounded-pill alert-success text-success">
                                                            {% if order.is_paid %}
                                                                Payment Done
                                                            {% else %}
                                                                <span style="color: red;">Payment Not Done</span>
                                                            {% endif %}
                                                        </span>
                                                    </dd>
                                                </dl>
                                            </article>
                                        </td>
                                    </tr>
                                </tbody>                          
                            </table>
                        </div> 
                    </div>
                </div>
            </div> 
        </div> 
    </section> 


{% endblock %}